@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary-color: hsl(220, 13%, 13%);
$primary-light: hsl(219, 9%, 45%);
$theme-color: hsl(26, 100%, 55%);
$hover-theme-color: hsl(25, 100%, 70%);
$light-grey: hsl(220, 14%, 95%);

button:focus {
  box-shadow: 0 0 0 4px rgba(255, 125, 26, 0.65) !important;
}

a {
  font-family: 'Kumbh Sans', sans-serif;
}


img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}



.theme-container {
  max-width: 1680px;
  width: 100%;
  padding-inline: 1.5rem;
  margin-inline: auto;
}

.mini-container {
  max-width: 1400px;
  width: 100%;
  padding-inline: 1.5rem;
  margin-inline: auto;
}


body {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $primary-color;
  font-size: 14px;
  background-color: #f6f6f6;
}

/*======header starts =====*/
header {
  .header-nav {
    border-bottom: 1px solid $primary-light;

    .nav-logo {
      max-width: 100px;
    }

    .navbar-items {
      padding-inline: 1rem;

      .navbar-links {
        display: inline-block;
        padding: 1.35rem 0;
        color: $primary-light;
        font-size: 1rem;
        font-weight: 500;
        border-bottom: 4px solid transparent;

        &:hover {
          border-bottom: 4px solid $theme-color;
          color: hsl(220, 13%, 13%);
        }
      }
    }

    .header-right-nav {
      .cart-btn {
        font-size: 1.5rem;
        color: hsl(160deg, 9%, 45%);
        padding: 0.75rem 0.5rem;
        transition: 200ms ease-in-out;

        &:hover {
          color: $theme-color;
        }
      }

      .user-profile {
        display: inline-block;

        img {
          width: 50px;
          aspect-ratio: 1/1;
          border-radius: 50%;
          border: 2px solid transparent;
          transition: all 200ms ease-in-out;
        }

        &:hover {
          img {
            border-color: $theme-color;
          }
        }
      }
    }
  }
}

// product view starts here
.product-page {
  padding-top: 4rem;
  padding-bottom: 4rem;

  .product-view-img {
    .product-slider {
      margin-bottom: 2rem;

      img {
        border-radius: 5px;
      }
    }

    .product-thumb {

      .owl-item {
        transition: all 200ms ease-in-out;

        .item {
          margin-inline: 8px;
          cursor: pointer;
          position: relative;
          height: clamp(75px, 100%, 120px);
          aspect-ratio: 1/1;
          border: 1px solid transparent;
          transition: all 200ms ease-in-out;

          &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background: #999;
            opacity: 0;
            inset: 0;
            transition: all 200ms ease-in-out;
          }

          img {
            border-radius: 5px;
          }
        }

        &:hover {
          .item {
            &::before {
              opacity: .5;
            }

            border: 1px solid $theme-color;
          }
        }

        &.current {
          .item {
            &::before {
              opacity: .5;
            }

            border: 1px solid $theme-color;
          }
        }
      }

      .owl-nav {
        display: none;
      }
    }
  }

  .product-view-content {
    padding-top: 8rem;

    .company-name {
      color: $theme-color;
      font-size: 1rem;
      font-weight: 800;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    .tagline {
      font-weight: 700;
      color: $primary-color;
      margin-top: 1.75rem;
    }

    .desc {
      margin: 2rem 0;
      line-height: 1.5;
      font-size: 1rem;
      color: $primary-light;
    }

    .price {
      font-weight: 700;
      color: $primary-color;
    }

    .discount {
      display: inline-block;
      margin-left: 1rem;
      padding: 0.125rem 0.75rem;
      border-radius: 5px;
      font-size: 1rem;
      background: rgba(255, 125, 26, 0.2);
      font-weight: 700;
      color: $theme-color;
    }

    .prev-price {
      text-decoration: line-through;
      color: hsl(220, 14%, 75%);
      font-weight: 700;
      padding: .5rem 0;
    }

    .purchase-item-sec {
      margin-top: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .purchase-item {
        display: inline-block;

        .input-number {
          width: 80px;
          padding: 1.5rem 0.75rem;
          vertical-align: top;
          text-align: center;
          outline: none;
        }

        .input-number,
        .input-number-decrement,
        .input-number-increment {
          border: none;
          background: hsl(220deg, 14%, 93%);
          height: 40px;
          color: $primary-color;
          user-select: none;
        }

        .input-number-decrement,
        .input-number-increment {
          display: inline-block;
          line-height: 0;
          width: 40px;
          padding: 1.5rem;
          background: hsl(220deg, 14%, 93%);
          color: $theme-color;
          font-size: 1.75rem;
          text-align: center;
          font-weight: bold;
          cursor: pointer;
        }

        .input-number-decrement:active,
        .input-number-increment:active {
          background: #ddd;
        }

        .input-number-decrement {
          border-right: none;
          border-radius: 5px 0 0 5px;
        }

        .input-number-increment {
          border-left: none;
          border-radius: 0 5px 5px 0;
        }
      }

      .add-card-btn {
        background-color: $theme-color;
        flex-basis: 70%;
        padding: 0.75rem;
        border-radius: 5px;
        color: #fff;
        box-shadow: none;
        font-weight: 600;

        i {
          padding-right: 0.5em;
        }

        &:hover {
          opacity: .85;
        }
      }
    }
  }

}


footer {
  p {
    font-size: 1rem;
    color: $primary-color;

    a {
      color: $theme-color;
      transition: all 200ms ease-in-out;

      &:hover {
        color: hsl(25, 100%, 65%)
      }
    }
  }

  .social-links {
    ul {
      li {
        a {
          width: 40px;
          height: 40px;
          background-color: #fff;
          text-align: center;
          line-height: 35px;
          font-size: 1rem;
          margin: 0 10px;
          display: block;
          border-radius: 50%;
          position: relative;
          overflow: hidden;
          border: 3px solid #fff;
          z-index: 1;

          &::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            background: #f00;
            transition: .5s;
            z-index: 2;
          }

          .icon {
            position: relative;
            color: #262626;
            transition: .5s;
            z-index: 3;
          }

          &:hover {
            &::before {
              top: 0;
            }

            .icon {
              color: #fff;
              transform: rotateY(360deg);
            }
          }
        }

        &:nth-child(1) a:before {
          background: #171515;
        }
        &:nth-child(2) a:before {
          background: #0a66c2;
        }
        &:nth-child(3) a:before {
          background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        }
        &:nth-child(4) a:before {
          background:  #EA4335;
        }
       
      }
    }
  }
}


@media screen and (max-width: 1200px) {
  .product-page {
    .product-view-content {
      .purchase-item-sec {
        .add-card-btn {
          flex-basis: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  header {
    .header-nav {
      .navbar-collapse {
        position: fixed;
        top: 0;
        right: 0;
        padding: 30px 15px 15px 15px;
        width: 300px;
        height: 100vh;
        z-index: 999;
        background: #f6f6f6;
        box-shadow: 0 1px 2px rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 7%), 0 4px 8px rgb(0 0 0 / 7%), 0 8px 16px rgb(0 0 0 / 7%), 0 16px 32px rgb(0 0 0 / 7%), 0 32px 64px rgb(0 0 0 / 7%);

        .navbar-nav {
          .navbar-items {
            .navbar-links {
              padding: 1rem 0.25rem;
            }
          }
        }
      }

      .navbar-collapse.collapsing {
        right: -75%;
        transition: height 0s ease;
      }

      .navbar-collapse.show {
        right: 0;
        transition: right 300ms ease-in-out;
      }

      .navbar-toggler.collapsed~.navbar-collapse {
        transition: right 500ms ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 567px) {
  .product-page {
    .product-view-content {
      padding-top: 4rem;
      .purchase-item-sec {
        flex-direction: column;
        align-items: initial;
        gap: 10px;
      }
  }
  }
}